/*-prefix/
/*.dylib
/*.build/
/*.xcodeproj/
/.cproject
/.project
/CMakeCache.txt
/CMakeFiles/
/CMakeScripts/
/CTestTestfile.cmake
/Makefile
/Testing/
/bin/
/build.ninja
/cmake_install.cmake
/external/
/lib*.a
/lib*.so
/rules.ninja
.DS_Store
